<aside
  id="sidebar"
  class="h-screen w-80 bg-slate-700 z-10 shadow-2xl overflow-auto"
>
  <header>
    <h1 class="text-2xl font-semibold tracking-wide text-white text-center mb-5 mt-5">GifsApp</h1>
    <hr class="border-slate-600">
  </header>
  <nav class="flex flex-col items-center mt-10 text-xl text-slate-50 gap-10">
    <ul>
      <li
        class="cursor-pointer hover:text-slate-300 mb-10"
        *ngFor="let tag of TagsHistory"
        (click)="searchTag(tag)"
      >
        {{ tag | titlecase }}
      </li>
    </ul>
  </nav>
</aside>
